/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  --daily: var(--colour-amaranth);
  --monthly: var(--colour-wedgewood);

  --shadow: 0 1px 3px rgba(0,0,0,0.1);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

input[type="text"] {
  appearance: none;
  border:none;
  outline:none;
  background:none;
}


button{
    appearance: none;
    border:none;
    outline:none;
    background:none;
    cursor: initial;
}

section{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 1rem;
  padding-right: 1rem;
}

h3{
  color: var(--colour-cello);
  font-size: 100%;
  font-weight: 10;
  margin-bottom: 10px;
}

h4{
  color: var(--colour-cello);
  font-weight: bold;
  margin-bottom:10px;
}

.create input[type="text"]{
  display:flex;
  width:100%;
  font-size: 20px;
  padding: 10px 17px;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow);
  margin-bottom:20px;
}

input[type="checkbox"]{
  display: none;
}

/* - - - - - - - -- - - - -- - - - -- - - */

.bubble {
  display:flex;
  align-items: center;
  justify-content: center;
  width:20px;
  height:20px;
  border-radius: 20%;
  border: 3px solid var(--daily);
}

.bubble::after{
  content:"";
  display:flex;
  opacity:0px;
  height:0px;
  width: 0px;
  background-color: var(--daily);
  border-radius:20%;
}

input:checked ~ .bubble::after {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.create input[type="submit"]{
  display:block;
  width:100%;
  font-size: 20px;
  padding: 10px 17px;
  background-color: var(--daily);
  color:white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom:20px;
  border: none;
}

.create input[type="submit"]:hover{
  opacity:0.8;
}

.todo_list .todo-item{
  display:flex;
  align-items: center;
  background-color: white;
  padding:15px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  margin-bottom: 15px;
}

.todo-item label{
  display:block;
  margin-right: 15px;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content button{
  font-size:20px;
  align-items: center;
}

.todo-item .action{
  display:flex;
  align-items:center;
}


.todo-item .action button{
  display:block;
  padding:10px;
  border-radius:7px;
  color:white;
}

.todo-item .action .deletebutton{
  margin-right: 10px;
  background-color: var(--daily);
}

.todo-item .action button:hover{
  opacity:0.8;
}

.todo-item.done .todo-content button{
  text-decoration: line-through;
  color:rgb(100, 99, 99);
}


/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
